@page "/"
<div class="row d-flex  align-items-center  logo-container">
    <div class="col">
        <div class="row justify-content-center">
            <img class="logo-image-rszach" src="/img/Robert Szachnowski.png" />
        </div>
        <div class="row justify-content-center align-items-center">
            <a href="#" class="bg-danger text-white rounded p-1 px-3">
                Check the <b>Blazor</b> way to create client-side application <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>
</div>
